{% extends 'admin/app_index.html' %}
{% load bootstrap_toolkit %}


{% block content %}
                
        <script type="text/javascript">

            window.BlobBuilder = window.MozBlobBuilder || window.WebKitBlobBuilder || window.BlobBuilder;


            function show_progress()
            {
                document.getElementById('progress').hidden = false;
                document.getElementById('progress_bar').style.width = '0%';
                document.getElementById('percent').innerHTML = '0%';
            }
            function sendRequest() {
                var fd = new FormData();
                fd.append("file", document.getElementById('file-field').files[0]);

                var xhr = new XMLHttpRequest();
                xhr.upload.addEventListener("progress", uploadProgress, false);
                xhr.addEventListener("load", uploadComplete, false);
                xhr.addEventListener("error", uploadFailed, false);
                xhr.addEventListener("abort", uploadCanceled, false);
                xhr.open("POST", "/import/ajax_upload/");
                xhr.onload = function(e) {
                    document.getElementById('progress_bar').style.width = '100%';
                    document.getElementById('percent').innerHTML = '100%';
                  };

                xhr.send(fd);

            }

            function uploadProgress(evt) {
                if (evt.lengthComputable) {
                    var percentComplete = Math.round(evt.loaded * 100 / evt.total);
                    document.getElementById('progress_bar').style.width = percentComplete.toString() + '%';
                    document.getElementById('percent').innerHTML = percentComplete.toString() + '%';
                    console.log(percentComplete);
                }

            }
            function uploadComplete(evt) {
                /* This event is raised when the server send back a response */
                // alert(evt.target.responseText);
            }

            function uploadFailed(evt) {
                alert("There was an error attempting to upload the file.");
            }

            function uploadCanceled(evt) {
                xhr.abort();
                xhr = null;
                //alert("The upload has been canceled by the user or the browser dropped the connection.");
            }
        </script>

    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        Import Price<br>
        <!-- {{ form|as_bootstrap }} -->
        <input type="file" name="file" id="file-field" multiple="false" onchange="show_progress();"/>
        <input type="button" onclick="sendRequest();" value="Import" />
         <div class="progress progress-success progress-striped active " hidden="" id="progress">
            <div class="bar" style="width: 0%" id="progress_bar"></div>
          </div>
          <div id="percent"></div>
        </form>


{% endblock %}