// Radio's and checkbox's
// required: sprite.png with 3 states (default, hover, checked)
// uncomment the code below to styling radio/checkbox

// .custom-checkbox {
//     input[type="checkbox"] {
//         display: none;
//         &:checked+label:after{background-position: -110px -60px}
//     }
//     label {
//         position: relative;
//         display: inline-block;
//         padding-left: 30px;
//         &:after {
//             position: absolute;
//             content: '';
//             .size(20px, 21px);
//             top: 0;
//             left: 0;
//             background: url(/static/img/sprite.png) -54px -60px;
//         }
//         &:hover:after{background-position: -82px -60px}
//     }
// }

// .custom-radio {
//     input[type="radio"] {
//         display: none;
//         &:checked+label:after{background-position: -136px -67px}
//     }
//     label {
//         position: relative;
//         display: inline-block;
//         padding-left: 20px;
//         &:after {
//             position: absolute;
//             content: '';
//             .size(14px);
//             top: 3px;
//             left: 0;
//             background: url(/static/img/sprite.png) -136px -28px;
//         }
//         &:hover:after{background-position: -136px -46px}
//     }
// }