// 7shop custom styles

cl_grayed_values = #7f7f7f


div.category-toolbar
    margin-bottom 20px

    h2.category-caption
        padding 0
        margin 0

    div.category-view-toolbar
        margin-right 8px

div.product-toolbar
    margin-bottom 20px

    h2.product-caption
        padding 0
        margin 0

#products
    div.product-list-item
        margin-bottom 10px

    div.product-caption
        font-size 130%

    span.price {
        font-size:110%;
        padding:5px 10px 5px 10px;
        -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
         -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
              box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
        /* Use for rotating price (IE9+) */
        // -webkit-transform:rotate(355deg);
        // -moz-transform:rotate(355deg);
        // -o-transform:rotate(355deg);
        // -ms-transform:rotate(355deg);
    }

#product-inline
    div.add-to-cart-form
        padding-right 8px

        a.btn
            float left
            margin-right 8px
        input.quantity
            float left
            margin-right 8px
            width 40px

    div.cart-toolbar
        padding 8px 0

div.filter-portlet-container
    div.filter-block
        margin-bottom 10px

        h4.filter-title
            font-size 110%
            margin-bottom 8px

        div.filter-options
            input.filter-slider-input
                width 100%
                padding 0
                margin 0

    div.filter-actions
        margin-top 20px

 
.header-action
    margin 2px 0 0 10px

div.search-block
    margin 40px 0 10px 90px

// Trying to use BEM


// Property value icon list
.property-value-icons
.property-value-icon__list
    list-style none
    margin 0
.property-value-icon__list__item--notlast
    float left
.property-value-icon__list__item--last
    display block
// .property-value-icon__list__item__icon

.customer-settings__table--with-margin
    margin-top 10px
.customer-settings__table__item
    color cl_grayed_values
    text-align right
    vertical-align top
    padding-right 20px
    width 200px
.customer-settings__table__value
    text-align left
    vertical-align top
    padding-left 20px
.customer-settings__toolbar__menu
    list-style none
.customer-settings__toolbar__menu--inline
    @extend .customer-settings__toolbar__menu
    margin-left 0
.customer-settings__toolbar__menu__item
    margin-top 10px
.customer-settings__toolbar__menu__item--horizontal
    float left
    margin-right 20px
.customer-settings__toolbar__menu__item--horizontal-last
    margin-right 0
.customer-settings__value-table__row__value--default
    font-weight bold
.customer-settings__value-table__row__toolbar
    padding-left 20px
.customer-settings__socials__title
    margin-top 20px
.customer-settings__socials__menu
    list-style none
    margin-left 0
.customer-settings__socials__menu__item
    float left
.customer-settings__value-table__row__toolbar
    color cl_grayed_values
    font-size 80%


// Checkout

.checkout-form__email--custom
    margin-top -17px

.checkout-form__phone--custom
    margin-top -17px

// Actions

.__action__confirm-when-click
    // Show confirmation dialog when click on the link
.__action__hide-after-10-seconds
    // Hide element after 10 seconds

