{% extends "admin/change_list.html" %}
{% load i18n %}

{% block object-tools %}
    <ul class="object-tools unstyled">
      {% for item in exporters %}
      <li>
        <a href="{{ item.url }}" class="btn">{{ item.label }}</a>
      </li>
      {% endfor %}
    </ul>
{% endblock %}

