{% extends "lfs/base.html" %}
{% load i18n %}

{% block breadcrumbs %}
    <ul class="breadcrumb">
        <li><i class="icon-home"></i></li>
    </ul>
{% endblock %}

{% block content %}
    {{ SHOP.static_block.html|safe }}
    {{ SHOP.description|safe }}
{% endblock %}
