{% extends "lfs/base.html" %}
{% load i18n %}
{% block content %}
<h2>{% trans 'FAQ' %}</h2>
<a href="{% url lfs_faq_add_faq %}" class="btn btn-primary" id="faq_question_button">{% trans 'Ask a question' %}</a>
<hr/>
{% for question in questions %}
    {{ question.created_by }}, {{ question.creation_date }}
    <p class="faq_question">{{ question.question }}</p>
    {{ question.answered_by }}, {{ question.answer_date }}
    <p class="faq_answer">{{ question.answer }}</p>
    <hr/>
{% endfor %}

{% endblock %}