body {
    background-color: #edeff1;
    margin: 0;
    padding: 0;
}

header {
    color: #d4d4d4;
    background-color: #373b3d;
    padding-top: 7px;
}

header input[type=text] {
    border: 1px solid #edeff1;
}

div#container {
    position: relative;
    width: 100%;
    height: 100%;
}
div#container header {
    height: 2.6em;
    padding-left: 1em;
 }

div#container .sidebar {
    position: absolute;
    top: 2.6em;
    left: 0;
    right: 80%;
    bottom: 0;
    padding: 0.5em;
}
div#container .top_half {
    height: 38%;
    overflow: auto;
    background: #f4f4f4;
    border: solid #CCCCCC 1px;
    padding: 4px;
}
div#container .bottom_half {
    padding-top: 0.5em;
    overflow: auto;
    height: 55%;
    background: #f4f4f4;
    border: solid #CCCCCC 1px;
    padding: 4px;
}
div#container .main_area {
    position: absolute;
    top: 2.6em;
    left: 20%;
    right: 0;
    bottom: 0;
    padding-top: 0.5em;
    padding-left: 0.5em;
    overflow: auto;
}

div#container .tree ol {
    padding-top: 0px;
}

div#container .tree li {
    padding-left: 14px;
    padding-bottom: 1px;
    list-style-type: none;
}

div#container li.tree_closed {
    background: url(toggle-small-expand.png) no-repeat left top;
}

div#container li.tree_expanded {
    background: url(toggle-small.png) no-repeat left top;
}

div#container span.button {
  background: #C1C1C1;
  border: 1px solid #999999;
  border-radius: 3px;
  box-shadow: inset 0 0 1px 1px #f6f6f6;
  color: #333;
  font: bold 12px/1 "helvetica neue", helvetica, arial, sans-serif;
  padding: 1px;
  padding-left: 3px;
  padding-bottom: 2px;
  text-align: center;
  text-shadow: 0 1px 0 #fff;
  display: inline-block;
  min-width: 50%;
  text-align: left;
  margin-top: 2px;
  margin-bottom: 1px;
  }
  span.button:hover {
    background: #d9d9d9;
    box-shadow: inset 0 0 1px 1px #eaeaea;
    color: #222;
    cursor: pointer; }
  span.button:active {
    background: #d0d0d0;
    box-shadow: inset 0 0 1px 1px #e3e3e3;
    color: #000;
}

div#container span.highlight {
    background: #FED22F;
}
div#container span.highlight:hover {
    background: #FED22F;
}

div#container .droppable {
    border: 1px ridge;
    background: #F9F9F9;
    margin: 10px;
    border-radius: 4px;
    padding-bottom: 30px;
}

div#container .simple_table {
	border: 1px solid #DFDFDF;
	background-color: #F9F9F9;
	width: 100%;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	font-family: Arial,"Bitstream Vera Sans",Helvetica,Verdana,sans-serif;
	color: #333;
}
div#container .simple_table td, #table-3 th {
	border-top-color: white;
	border-bottom: 1px solid #DFDFDF;
	color: #555;
}
div#container .simple_table th {
	text-shadow: rgba(255, 255, 255, 0.796875) 0px 1px 0px;
	font-family: Georgia,"Times New Roman","Bitstream Charter",Times,serif;
	font-weight: normal;
	padding: 7px 7px 8px;
	text-align: left;
	line-height: 1.3em;
	font-size: 14px;
}
div#container .simple_table td {
	font-size: 12px;
	padding: 4px 7px 2px;
	vertical-align: top;
}

div#container .hide_me {
    display: none;
}

div#container input[readonly="readonly"]
{
    height:20px;
    width: 100%;
    
}

div#container .small_input {
    width: 50px;
}

div#container #tip_area {
    border-radius: 5px;
    background-color: #B3C6F2;
    display: none;
}


input.search_box {
  width: 100%;
  margin-bottom: 4px;
}

/*Adjust jquery ui theme*/
.ui-tabs ul.ui-tabs-nav {
  background: none;
  border: none;
  padding: 0px;
}
div.ui-tabs {
  border: none;
  padding: 0px;
}
.ui-tabs ul.ui-tabs-nav li{
  border-radius: 0px;
  padding: 0px;
  margin: 0px;
  border: 1px solid #d3d3d3;
  border-bottom: 0px;
}
.ui-tabs ul.ui-tabs-nav li.ui-tabs-active {
  margin-bottom: 0px;
  padding-bottom: 0px;
}
.ui-tabs div.ui-tabs-panel {
  border: 1px solid #d3d3d3;
}
div#container .ui-tabs div.ui-droppable {
  margin: 0px;
  border: 1px solid #d3d3d3;
  border-radius: 0px;
}

div#container .collapsed {
    display: none;
}
