{% load i18n %}
{% if filter.options %}
<h4 class="filter-title">{{ filter.title }}</h4>

<div class="filter-options">
    <select class="span12 filter_5" name="{{ filter.identificator }}"
        id="filter-5-{{ filter.identificator }}">
    <option value="none">-----</option>
    {% for option in filter.options %}
    {% if option.quantity %}
    <option value="{{ option.identificator }}"
    {% if option.checked %} selected="selected"{% endif %}>{{ option.title }}
    {% if not option.checked %}
        ({{ option.quantity }})
    {% else %}
        +{{ option.quantity }}
    {% endif %}
    </option>
    {% endif %}
    {% endfor %}
    </select>
</div>
{% endif %}