{% extends "admin/base_site.html" %}
{% load i18n %}
{% load url from future %}

{% block title %}{% trans "System info" %}{% endblock %}

{% block content_title_value %}
  {% trans "System info" %}
{% endblock %}

{% if not is_popup %}
  {% block breadcrumbs %}
    <ul class="breadcrumb">
      <li>
        <a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
        <span class="divider">&raquo;</span>
      </li>
      <li class="active">
        {% trans "System info" %}
      </li>
    </ul>
  {% endblock %}
{% endif %}

{% block content %}
<div id="content-main" class="inner-one-column">
    <div class="system-info">
    <div class="system-info__logo" style="text-align:center;">
        <img src="/static/img/dark-large-logo.png" alt="P-Cart" />
    </div>

    <table class="system-info__table table table-striped table-hover table-bordered">
    <tr>
        <td>{% trans "P-Cart version" %}</td>
        <td>{{ shop_version }} <a href="{% url 'admin_restart_engine' %}" class="btn btn-warning btn-mini pull-right">{% trans "Restart engine" %}</a></td>
    </tr>
    <tr>
        <td>{% trans "Python version" %}</td>
        <td>{{ python_version }}</td>
    </tr>
    <tr>
        <td>{% trans "Django version" %}</td>
        <td>{{ django_version }}</td>
    </tr>
    <tr>
        <td>{% trans "Operating system" %}</td>
        <td>{{ os_version }}</td>
    </tr>
    <tr>
        <td>{% trans "Virtual environment" %}</td>
        <td>{{ virtualenv_dir }}</td>
    </tr>
    <tr>
        <td>{% trans "Database driver" %}</td>
        <td>{{ db_driver }}</td>
    </tr>
    <tr>
        <td>{% trans "Cache backend" %}</td>
        <td>{{ cache_driver }} <a href="{% url 'admin_clear_cache' %}" class="btn btn-warning btn-mini pull-right">{% trans "Clear cache" %}</a></td>
    </tr>   
    <tr>
        <td>{% trans "System user" %}</td>
        <td>{{ system_user }}</td>
    </tr>
    <tr>
        <td>{% trans "Total memory" %}</td>
        <td>{{ memory_stats.total }} {% trans "bytes" %}</td>
    </tr>
    <tr>
        <td>{% trans "Memory usage" %}</td>
        <td>{{ memory_stats.percent }} % ({{ memory_stats.used }} {% trans "bytes" %})</td>
    </tr>
    <tr>
        <td>{% trans "PID" %}</td>
        <td>{{ pid }}</td>
    </tr>
    <tr>
        <td>{% trans "Process command line" %}</td>
        <td>{{ current_process.cmdline|join:" " }}</td>
    </tr>
    <tr>
        <td>{% trans "Memory used by process" %}</td>
        <td>{{ current_process.get_memory_info.rss }} {% trans "bytes" %}
    </tr>
    <tr>
        <td>{% trans "Thread number" %}</td>
        <td>{{ current_process.get_num_threads }}</td>
    </tr>
    </table>    
    </div>
</div>
{% endblock %}
