{% load url from future %}
{% load i18n %}
<div>
    <h2>{% trans "Manage property option" %}</h2>
</div>
<div class="toolbar-content">
  <div class="object-tools">
  	<div class="btn-group">
      <a class="btn btn-info dropdown-toggle" data-toggle="dropdown" href="#">
         <i class="icon-list icon-white"></i> {% trans "Sort" %}
         <span class="caret"></span>
      </a>
        <ul class="dropdown-menu">
            <li><a class="ajax-confirm-link" data-question="{% trans 'Do you want to sort options of this sort type?' %}" data-loaderselector="#properties-options-list-wrapper" href="{% url 'admin_sort_property_options' object_id %}?sort_type=asc">{% trans "ASC" %}</a></li>
            <li><a class="ajax-confirm-link" data-question="{% trans 'Do you want to sort options of this sort type?' %}" data-loaderselector="#properties-options-list-wrapper" href="{% url 'admin_sort_property_options' object_id %}?sort_type=desc">{% trans "DESC" %}</a></li>
            <li class="divider"></li>
            <li><a class="ajax-confirm-link" data-question="{% trans 'Do you want to sort options of this sort type?' %}" data-loaderselector="#properties-options-list-wrapper" href="{% url 'admin_sort_property_options' object_id %}?sort_type=numberasc">{% trans "Number ASC" %}</a></li>
            <li><a class="ajax-confirm-link" data-question="{% trans 'Do you want to sort options of this sort type?' %}" data-loaderselector="#properties-options-list-wrapper" href="{% url 'admin_sort_property_options' object_id %}?sort_type=numberdesc">{% trans "Number DESC" %}</a></li>
        </ul>
    </div>
    <div class="btn-group">
      <a href="{% url 'admin:catalog_propertyoptionrelation_add' %}?property_type_id={{ object_id }}" class="btn btn-success" onclick='return showAddAnotherPopup(this);'>
      <i class="icon-plus-sign icon-white"></i> {% trans "Add property option" %}
      </a>
    </div>
  </div>
  <div class="toolbar">
      <div class="search-container">
        <input type="text" size="40" name="q" id="searchbar" value="" placeholder="Keyword">
        <a href="#" class="clear-search-field"><i class="icon-remove"></i></a>
      </div>
  </div>
</div>

<div id="properties-options-list-wrapper" data-ajaxlink="">
	<p><img src="/static/img/ajax-loader.gif" /> {% trans "Loading information about properties options..." %}</p>
</div>

<script type="text/javascript">
$(".clear-search-field").click(function(){
  $("#searchbar").attr("value", "");
  update_property_options_info();
  return false;
});
	function update_property_options_info(q) {
	    $.ajax({
	    	type: 'GET',
		    url: "{% url 'option_list_for_property_type' %}",
		    data: {
		    	'property_type_id': '{{ object_id }}',
		    	'start': '1',
          'q': q
		    },
		    dataType: "json",
		    success: function(msg){
		    	for(i=0; i<msg['html'].length; i++) $(msg['html'][i][0]).html(msg['html'][i][1]);
		    	$("#properties-options-list-wrapper").loadOverStop();
		    },
		});   
    }

	function on_property_options_popup_close(win) {
        $("#properties-options-list-wrapper").loadOverStart();
        setTimeout(update_property_options_info, 1000);
        win.close();
    }

    update_property_options_info()
    $("#searchbar").keyup(function(){
      update_property_options_info($(this).attr("value"));
    });
</script>
