{% load url from future %}
{% load i18n sshop_tags %}

{% if property_options %}
<table class="table table-striped table-bordered table-hover">
    <thead>
    <tr>
        <th>{% trans "Option" %}</th>
        <th>{% trans "Identificator" %}</th>
        <th>{% trans "Manage" %}</th>
    </tr>
    </thead>
    <tbody>
    {% for option in property_options %}
    <tr>
      <td><a href="{% url 'admin:catalog_propertyoptionrelation_change' option.pk %}" onclick='return showAddAnotherPopup(this);'>{{ option.property_option.name }}</a></td>
      <td>{{ option.property_option.identifier }}</td>
      <td width="170">
        <div class="btn-group">
          <a class="simple-ajax-link btn{% if forloop.first %} disabled{% endif %}"
                 href="{% url 'move_property_option' %}?option_id={{ option.pk }}&direction=0&start={{ current_page.number }}"
                 data-loaderselector="#properties-options-list-wrapper"
                 title='{% trans "Move Up" %}'><i class="icon-arrow-up"></i></a>        
          <a class="simple-ajax-link btn{% if forloop.last %} disabled{% endif %}"
                 href="{% url 'move_property_option' %}?option_id={{ option.pk }}&direction=1&start={{ current_page.number }}"
                 data-loaderselector="#properties-options-list-wrapper"
                 title='{% trans "Move Down" %}'><i class="icon-arrow-down"></i></a>
          <a class="btn" href="{% url 'admin:catalog_propertyoptionrelation_change' option.pk %}" title="{% trans 'Edit option' %}" 
          onclick='return showAddAnotherPopup(this);'><i class="icon-edit"></i></a>
          </div>
          <div class="btn-group">
          <a class="ajax-confirm-link btn btn-danger"
             href="{% url 'delete_property_option' %}?option_id={{ option.pk }}&start={{ current_page.number }}"
             title='{% trans "Delete" %}'
             data-question="{% trans 'This operation cannot be undone. Do you really want to delete this option?' %}"
             data-loaderselector="#properties-options-list-wrapper"><i class="icon-trash icon-white"></i></a>
         </div>
        </div>
      </td>
    </tr>
    {% endfor %}
    </tbody>
</table>

{% if paginator.num_pages > 1 %}
<ul class="pager">
  {% if current_page.has_previous %}
  <li class="previous">
    <a href="{% url 'option_list_for_property_type' %}?property_type_id={{ property_type.id }}&start={{ current_page.previous_page_number }}" class="simple-ajax-link"
    data-loaderselector="#properties-options-list-wrapper">&larr; {% trans "Previous" %}</a>
  </li>
  {% else %}
  <li class="previous disabled"><a>&larr; {% trans "Previous" %}</a></li>
  {% endif %}
  <li>{{ current_page.number }} / {{ paginator.num_pages }}</li>
  {% if current_page.has_next %}
  <li class="next">
    <a href="{% url 'option_list_for_property_type' %}?property_type_id={{ property_type.id }}&start={{ current_page.next_page_number }}" class="simple-ajax-link"
    data-loaderselector="#properties-options-list-wrapper">{% trans "Next" %} &rarr;</a>
  </li>
  {% else %}
  <li class="next"><a>{% trans "Next" %} &rarr;</a></li>
  {% endif %}
</ul>
{% endif %}
{% endif %}
