{% load i18n %}
<div class="alert alert-warning">
{% blocktrans %}
You can use almost the full functionality of Django templates
except <code>extends</code> and <code>include</code> tags.
{% endblocktrans %}
</div>