{% extends "admin/change_form.html" %}
{% load i18n %}
{% load url from future %}

{% block content %}
	{{ block.super }}
	{% ifequal  request.GET.new_product  'true' %}
		<script type="text/javascript">
			(function($) {
		    var field;
		    field = {
		        id: '#id_slug',
		        dependency_ids: [],
		        dependency_list: [],
		        maxLength: 300
		    };
		    field['dependency_ids'].push('#id_name');
		    field['dependency_list'].push('name');
		    $('.empty-form .form-row .field-slug, .empty-form.form-row .field-slug').addClass('prepopulated_field');
		    $(field.id).data('dependency_list', field['dependency_list'])
		               .prepopulate(field['dependency_ids'], field.maxLength);
		})(django.jQuery);
		$(document).ready(function(){
			$('#id_name').on('keyup', function(){
				$('#suit-center .breadcrumb li.active').html($(this).attr('value'));
			});
		});
		</script>
	{% endifequal %}
{% endblock %}

{% block object-tools-items %}
{{ block.super }}
{% if original.is_variant %}
<li>
    <a href="{% url 'admin:catalog_product_change' original.parent_id %}">
    <i class="icon-arrow-up"></i> {% trans "Edit parent product" %}</a>
</li>
{% endif %}
{% endblock %}