{% load url from future %}
{% load i18n %}

<div id="comparison">
    {% if request.session.comparison %}
        {% for p in request.session.comparison %}
            <span><a href="{{ p.get_absolute_url }}">{{ p.name }}</a> <a href="{% url 'lfs_comparison_remove_product' p.id %}"><i class="icon-remove"></i></a></span>
        {% endfor %}
    {% else %}
        {% trans 'Not selected any products' %}
    {% endif %}
</div>