{% extends "admin/base_site.html" %}
{% load i18n bootstrap_toolkit %}
{% load url from future %}

{% block title %}{% trans "Import Results" %}{% endblock %}

{% block content_title_value %}
  {% trans "Import Results" %}
{% endblock %}

{% if not is_popup %}
  {% block breadcrumbs %}
    <ul class="breadcrumb">
      <li>
        <a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
        <span class="divider">&raquo;</span>
      </li>
      <li class="active">
        {% trans "Import Results" %}
      </li>
    </ul>
  {% endblock %}
{% endif %}

{% block content %}
<div id="content-main" class="inner-one-column">
<h2>{% trans "Import Results" %}</h2>

{% if success_undo %}
    <p>
    {% blocktrans %}
        Import was undone. This is now a simulation, you can run the import again.
    {% endblocktrans %}
    </p>
{% endif %}

{% if create_count %}
    {% trans "Created" %}: {{ create_count }} <br/>
{% endif %}
{% if update_count %}
    {% trans "Updated" %}: {{ update_count }} <br/>
{% endif %}

{% if fail_count %}
    {% trans "Failed" %}: {{ fail_count }} <br/>
    <a href="{{ MEDIA_URL }}{{ import_log.error_file }}">
    {% trans "Download failed records" %}</a>
{% endif %}

{% if commit %}
    {% if import_log.import_type == "N" %}
        <p>
        {% blocktrans %}
            It's possible to undo Create only reports. <a href="?commit=False&undo=True">Click here to undo.</a>
            If you imported properties that created other records, we can not guarentee those records will be removed.
        {% endblocktrans %}
        </p>
    {% endif %}
{% else %}
    <p>
    {% trans "This was only a simulation." %}
    <a class="btn" href="?commit=True&undo=False">
    {% trans "Click here to run the import" %}</a>

    </p>
{% endif %}
</div>
{% endblock %}