{% extends "admin/base_site.html" %}
{% load i18n bootstrap_toolkit %}
{% load url from future %}

{% block title %}{% trans "Match Columns" %}{% endblock %}

{% block content_title_value %}
  {% trans "Match Columns" %}
{% endblock %}

{% if not is_popup %}
  {% block breadcrumbs %}
    <ul class="breadcrumb">
      <li>
        <a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
        <span class="divider">&raquo;</span>
      </li>
      <li class="active">
        {% trans "Match Columns" %}
      </li>
    </ul>
  {% endblock %}
{% endif %}

{% block content %}
<div id="content-main" class="inner-one-column">
<h2>{% trans "Match Columns" %}</h2>
<form action="" method="post">{% csrf_token %}
    {{ formset.management_form }}
   
    {% if errors %}
        {% for error in errors %}
            <div class="alert alert-error">{{ error }}</div>
        {% endfor %}
    {% endif %}
    <table class="table table-bordered table-striped table-hover">
        <tr>
            <th>{% trans "Column Header" %}</th>
            <th>{% trans "Field" %}</th>
            <th>{% trans "Sample Data" %}</th>
            <th>{% trans "Default Value" %}</th>
            {% if import_log.import_type == "U" or import_log.import_type == "O" %}
                <th>{% trans "Update Key" %}</th>
            {% endif %}
            <th>{% trans "Clear field on blank cell" %}</th>
        </tr>
        {% for form in formset %}
            <tr>
                <td>
                    {% if form.instance.column_name %}
                        {{ form.id.as_hidden }}
                        {{ form.instance.column_name }}
                    {% else %}
                        {{ form.column_name }}
                    {% endif %}
                    {{ form.column_name.as_hidden }} {{ form.column_name.error }}
                    {{ form.import_setting.as_hidden }} {{ form.import_setting.error }}
                </td>
                <td>
                    {{ form.field_name }} {{ form.field_name.error }}
                </td>
                <td>
                    {{ form.sample }}
                </td>
                <td>
                    {{ form.default_value }} {{ form.default_value.error }}
                </td>
                {% if import_log.import_type == "U" or import_log.import_type == "O" %}
                    <td>
                        <input name="update_key"
                               value="{% if form.instance.column_name %}{{ form.instance.column_name }}{% else %}{{ form.column_name }}{% endif %}"
                               type="radio"
                               {% if import_log.update_key == form.instance.column_name %}
                                   checked="checked"
                                {% endif %}
                               />
                    </td>
                {% endif %}
                <td>{{ form.null_on_empty }}</td>
            </tr>
        {% endfor %}
    </table>
    
    <div class="form-actions">
    <input class="btn btn-info" type="submit" value="{% trans 'Next' %}"/>
    </div>
</form>
</div>
{% endblock %}