{% extends "admin/base_site.html" %}
{% load url from future %}
{% load i18n lfs_tags sshop_tags %}

{% if not is_popup %}
  {% block breadcrumbs %}
    <ul class="breadcrumb">
      <li>
        <a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
        <span class="divider">&raquo;</span>
      </li>
      <li>
        <a href="{% url 'admin:app_list' app_label='order' %}">{% trans 'Orders' %}</a>
        <span class="divider">&raquo;</span>
      </li>
      <li>
        <a href="{% url 'admin:order_order_change' order.id %}">
        {{ order|capfirst }}</a>
        <span class="divider">&raquo;</span>
      </li>
      <li class="active">
        {{ title }}
      </li>
    </ul>
  {% endblock %}
{% endif %}

{% block content %}
<div id="content-main">
    {% if order %}
    <table class="table table-bordered table-hover table-striped">
    <tr>
        <th colspan="4">
            {% trans 'General' %}
        </th>
    </tr>
    <tr>
        <td width="25%">
            {% trans 'Order number:' %}
        </td>
        <td width="25%">
            {{ order.number|default_if_none:"-" }}
        </td>
        <td width="25%">
            {% trans 'Date' %}:
        </td>
        <td width="25%">
            {{ order.created|date:_("DATETIME_FORMAT") }}
        </td>
    </tr>
    <tr>
        <td>
            {% trans 'E-mail' %}:
        </td>
        <td>
            <a href="mailto:{{ order.user.email }}">
                {{ order.customer_email }}
            </a>
        </td>
        <td>
            {% trans 'State' %}:
        </td>
        <td>
            {{ order.get_state_display }} {% if order.state_modified %}({{ order.state_modified|date:_("DATETIME_FORMAT") }}){% endif %}
        </td>
    </tr>
    <tr>
        <td>
            {% trans "Phone" %}:
        </td>
        <td>
            {{ order.get_formatted_phone_number }}
        </td>
        <td>
            {% trans 'Customer' %}:
        </td>
        <td>
            {{ order.customer.get_full_name }}
        </td>
    </tr>
</table>

<table width="100%">
    <tr style="vertical-align:top;">
    <td width="50%">
        <table class="table table-bordered table-hover table-striped">
            <tr>
                <th colspan="2">
                    {% trans 'Customer info' %}
                </th>
            </tr>
            {% for item in order.get_customer_data %}
            <tr>
                <td>
                    {{ item.title }}
                </td>
                <td>
                    {{ item.value }}
                </td>
            </tr>
            {% endfor %}
        </table>
    </td>
    <td width="50%">
        <table class="table table-bordered table-hover table-striped">
            <tr>
                <th colspan="2">
                    {% trans 'Order info' %}
                </th>
            </tr>
            {% for item in order.get_order_data %}
            <tr>
                <td>
                    {{ item.title }}
                </td>
                <td>
                    {{ item.value }}
                </td>
            </tr>
            {% endfor %}
        </table>
    </td>
    </tr>
</table>


<table width="100%">
    <tr style="vertical-align:top;">
    <td width="50%">
        {% if order.shipping_info %}
            {{ order.shipping_info|safe }}
        {% endif %}
    </td>
    <td width="50%">
        {% if order.payment_info %}
            {{ order.payment_info|safe }}
        {% endif %}
    </td>
    </tr>
</table>

<table class="table table-bordered table-hover table-striped order-inline">
    <tr>
        <th width="100px">
            {% trans 'Image' %}
        </th>
        <th width="100px">
            {% trans 'SKU' %}
        </th>
        <th>
            {% trans 'Name' %}
        </th>
        <th width="80px"
            class="number">
            {% trans 'Amount' %}
        </th>
        <th width="150px"
            class="number">
            {% trans 'Price' %}
        </th>
        <th width="150px"
            class="number">
            {% trans 'Total' %}
        </th>
    </tr>
    {% for item in order.items.all %}
        <tr class="product-row">
            <td class="top">
                {% if item.product.get_image.image %}
                <a href="{% url 'lfs_product' item.product.slug %}">
                    <img alt="{{ item.product_name }}"
                         src="{{ item.product.get_image.image.url_small }}" />
                 </a>
                {% else %}
                {% if item.product %}
                <img alt="{{ item.product.name }}" src="{{ STATIC_URL }}img/60x60.gif" class="thumbnail" />
                {% endif %}
                {% endif %}
            </td>
            <td class="top">
                {{ item.product_sku }}
            </td>
            <td class="top">
                {% if item.product %}
                    <a href="{% url 'lfs_product' item.product.slug %}">
                        {{ item.product_name }}
                    </a>
                {% else %}
                    {{ item.product_name }}
                {% endif %}
            </td>

            <td class="number top">
               {{ item.amount }} {{ item.product.unit }}
            </td>
            <td class="number top">
               {% format_as_price item.product_price %}{% if item.product.price_unit %} / {{ item.product.price_unit }}{% endif %}
            </td>
            <td class="number top">
               {% if SHOP.default_currency_id != order.payment_method.currency_id %}
                <strong>{% format_as_payment_price item.price order.payment_method %}</strong> ({% format_as_price item.price %})
               {% else %}
                {% format_as_price item.price %}
               {% endif %}
            </td>
        </tr>
    {% endfor %}
    {% if order.voucher_number %}
        <tr>
            <td></td>
            <td>
                {% trans 'Voucher' %} ({{ order.voucher_number }})
            </td>
            <td></td>
            <td class="number">
                1
            </td>
            <td class="number">
                -{% format_as_price order.voucher_price %}
            </td>
            <td class="number">
               {% if SHOP.default_currency_id != order.payment_method.currency_id %}
                <strong>-{% format_as_payment_price order.voucher_price order.payment_method %}</strong> (-{% format_as_price order.voucher_price %})
               {% else %}
                -{% format_as_price order.voucher_price %}
               {% endif %}
            </td>
        </tr>
    {% endif %}
    <tr>
        <td></td>
        <td colspan="2">
            {% trans 'Shipping' %} ({{ order.shipping_method }})
        </td>
        <td class="number">
            1
        </td>
        <td class="number">
            {% format_as_price order.shipping_price %}
        </td>
        <td class="number">
            {% if SHOP.default_currency_id != order.payment_method.currency_id %}
            <strong>{% format_as_payment_price order.shipping_price order.payment_method %}</strong> ({% format_as_price order.shipping_price %})
            {% else %}
            {% format_as_price order.shipping_price %}
            {% endif %}
        </td>
    </tr>
    <tr>
        <td></td>
        <td colspan="2">
            {% trans 'Payment' %} ({{ order.payment_method }})
        </td>
        <td class="number">
            1
        </td>
        <td class="number">
            {% format_as_price order.payment_price %}
        </td>
        <td class="number">
            {% if SHOP.default_currency_id != order.payment_method.currency_id %}
                <strong>{% format_as_payment_price order.payment_price order.payment_method %}</strong> ({% format_as_price order.payment_price %})
            {% else %}
                {% format_as_price order.payment_price %}
            {% endif %}
        </td>
    </tr>
    <tr class="total">
        <td colspan="6"
            class="number total">
            <div class="pull-right"><strong>
            {% trans "Total" %}:
            {% if SHOP.default_currency_id != order.payment_method.currency_id %}
            <strong>{% format_as_payment_price order.price order.payment_method %}</strong> ({% format_as_price order.price %})
            {% else %}
            {% format_as_price order.price %}
            {% endif %}
            </strong></div>
        </td>
    </tr>
</table>

{% if order.message %}
    <table class="table table-bordered table-hover table-striped">
        <tr>
            <th colspan="5">
                {% trans 'Message from the customer' %}
            </th>
        </tr>
        <tr>
            <td colspan="5">
                {{ order.message }}
            </td>
        </tr>
    </table>
{% endif %}

<hr/>

{% if order.customer %}
<table width="100%">
    <tr style="vertical-align:top;">
    <td width="50%">
        <table class="table table-bordered table-hover table-striped">
            <tr>
                <th colspan="2">
                    {% trans 'Full customer info' %}
                </th>
            </tr>
            {% for item in order.get_full_customer_data %}
            <tr>
                <td>
                    {{ item.title }}
                </td>
                <td>
                    {% if item.value != item.original_value %}
                    {{ item.value }}
                    <span class="text-warning">{{ item.original_value }}</span>
                    {% else %}
                    {{ item.value }}
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </table>
    </td>
    <td width="50%">
        <table class="table table-bordered table-hover table-striped">
            <tr>
                <th colspan="3">
                    {% trans 'Customer phones' %}
                </th>
            </tr>
            {% for phone in order.customer.phones.all %}
            <tr>
                <td>{{ phone.get_formatted_number }}</td>
                <td>{{ phone.get_type_str }}</td>
                <td>
                    {% if phone.default %}
                    <i class="icon-ok" title="{% trans 'Default' %}"></i>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </table>

        <table class="table table-bordered table-hover table-striped">
            <tr>
                <th colspan="2">
                    {% trans 'Customer addresses' %}
                </th>
            </tr>
            {% for address in order.customer.addresses.all %}
            <tr>
                <td>{{ address.get_customer_address }}</td>
                <td>
                    {% if address.default %}
                    <i class="icon-ok" title="{% trans 'Default' %}"></i>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </table>

        <table class="table table-bordered table-hover table-striped">
            <tr>
                <th colspan="2">
                    {% trans 'Customer emails' %}
                </th>
            </tr>
            {% for email in order.customer.emails.all %}
            <tr>
                <td>{{ email.email }}</td>
                <td>
                    {% if email.default %}
                    <i class="icon-ok" title="{% trans 'Default' %}"></i>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </table>

    </td>
    </tr>
</table>
{% endif %}

{% endif %}
</div>
{% endblock %}
