{% extends "lfs/base.html" %}
{% load i18n %}
{% load lfs_tags %}

{% block section %}added-to-cart{% endblock %}
{% block left-slot-wrapper %}{% endblock %}
{% block right-slot-wrapper %}{% endblock %}

{% block breadcrumbs %}
    {% breadcrumbs _("Added to cart") %}
{% endblock %}

{% block wrapper %}
<div class="page-header">
    {% if plural %}
        <h1>{% trans 'This products have been added to cart' %}</h1>
    {% else %}
        <h1>{% trans 'This product has been added to cart' %}</h1>
    {% endif %}
</div>

    <div id="cart-items">
        {{ cart_items }}
    </div>

    {% if product_accessories %}
        <h3>{% trans 'Accessories' %}</h3>
        <table class="table table-bordered table-striped accessories lfs-default">
            <tr>
                <th>
                    {% trans 'Name' %}
                </th>
                <th class="number">
                    {% trans 'Quantity' %}
                </th>
                <th class="number">
                    {% trans 'Price' %}
                </th>
                <th class="number">
                    {% trans 'Total' %}
                </th>
                <th></th>
            </tr>
            {% for product_accessory in product_accessories %}
                <tr>
                    <td>
                        <a href="{{ product_accessory.accessory.get_absolute_url }}">
                            {{ product_accessory.accessory.get_name }}
                        </a>
                    </td>
                    <td class="number">
                        {{ product_accessory.quantity|quantity }}
                    </td>
                    <td class="number">
                        {{ product_accessory.accessory.get_price|currency:request }}
                    </td>
                    <td class="number">
                        {{ product_accessory.get_price|currency:request }}
                    </td>
                    <td class="right">
                        <a class="button add-accessory-link"
                           rel="nofollow"
                           href="{% url lfs_add_accessory_to_cart product_accessory.accessory.id product_accessory.quantity %}">
                           {% trans 'Add' %}
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </table>
    {% endif %}

    <div>
        <a class="btn btn-primary emphasized"
           href="{% url lfs_checkout_dispatcher %}">
            <i class="icon-shopping-cart icon-white"></i> {% trans 'Checkout' %}
        </a>
        <a class="btn btn-info cart-button"
           href="{% url lfs.cart.views.cart %}">
            {% trans 'Go to cart' %}
        </a>
        <a class="btn btn-info shopping-button"
           href="{{ shopping_url }}">
            {% trans 'Go on shopping' %}
        </a>
    </div>
    <br>

{% endblock %}
