{% load i18n %}
<div class="payment">
  <div class="control-group">
    <b class="control-label">{% trans 'Payment method' %}</b>
      <div class="controls payment-method">
        {% if default_payment_only %}
        <p>{{ selected_payment_method.name }}</p>
        <input name="shipping_method" type="hidden" value="{{ selected_payment_method.id }}"/>
        {% else %}
        <select name="payment_method"
              class="update-checkout">
        {% for payment_method in payment_methods %}
            <option name="payment_method"
                class="update-checkout payment-methods payment-method-type-{{ payment_method.type }}"
                id="payment-method-{{ payment_method.id }}"
                value="{{payment_method.id}}"
                {% ifequal payment_method.id selected_payment_method.id  %}selected="selected"{% endifequal %}>
                {{ payment_method.name }}
            </option>
        {% endfor %}
        </select>
        {% endif %}
      <div class="row-fluid">
        <div class="span12">
          {% if selected_payment_method.image %}
              <img src="{{ selected_payment_method.image.url }}"
                   alt="{{ selected_payment_method.name }}">
          {% endif %}
          {{ selected_payment_method.description|safe }}
        </div>
      </div>
      </div>
  </div>
</div>
