{% extends "admin/base_site.html" %}
{% load i18n bootstrap_toolkit %}

{% block extrahead %}
    {{ block.super }}
    {{ form.media }}
 <style type="text/css">
.required:after {
	content: '';
}
 </style>
{% endblock %}

{% block content %}
{% if field %}
<h4><img src="{{ field.widget_icon }}"/> {{ field.widget_name }}</h4>	
{% endif %}

<div id="content-main" class="inner-two-columns" class="form-vertical">
<form {% if has_file_field %}enctype="multipart/form-data" {% endif %}
    action="" method="POST">
    {% csrf_token %}
    {{ form|as_bootstrap:"vertical" }}
    <div class="form-actions">
        <input type="submit" class="btn btn-info" value="{% trans 'Save' %}"/>
    </div>
</form>
</div>
{% endblock %}