{% load url from future %}
{% load i18n %}
<div class="toolbar-content">
  <div class="object-tools">               
    <div class="btn-group">
      <a class="btn btn-info dropdown-toggle" data-toggle="dropdown" href="#">
         <i class="icon-list icon-white"></i> {% trans "Add field" %}
         <span class="caret"></span>
      </a>
        <ul class="dropdown-menu">
                {% for model in fields_models %}
                    <li>
                    <a href="{% url 'admin_add_field' content_type.id object.id model.id %}" onclick='return showAddAnotherPopup(this);'>
                    <img src="{{ model.model_class.widget_icon }}"/>&nbsp; {{ model.model_class.widget_name }}
                    </a></li>
                {% endfor %}
        </ul>
    </div>
    <div class="btn-group">
        <a href="{% url 'admin_delete_all_fields' content_type.id object.id %}" class="ajax-confirm-link btn btn-danger"
        data-question="{% trans 'This operation cannot be undone. Do you really want to delete all fields?' %}"
        data-loaderselector="#fields-list-wrapper">
            <i class="icon-trash icon-white"></i> {% trans "Delete fields" %}
        </a>            
    </div>
  </div>
    <div>
    <h2>{% trans "Manage fields" %}</h2>
    </div>
</div>

<div id="fields-list-wrapper" data-ajaxlink="{% url 'admin_fields' content_type.id object.id %}">
<p><img src="/static/img/ajax-loader.gif" /> {% trans "Loading information about fields..." %}</p>
</div>

<script type="text/javascript">
    function update_field_info() {
        $("#fields-list-wrapper").load("{% url 'admin_fields' content_type.id object.id %}",
            function () {
                $("#fields-list-wrapper").loadOverStop();    

            });        
    }

    function on_fields_popup_close() {
        $("#fields-list-wrapper").loadOverStart();
        setTimeout(update_field_info, 1000);
    }

   update_field_info();
</script>

