{{ message }}
<table id="html_report_table" class="simple_table">
  <thead>
    <tr>
      {% for header in report.displayfield_set.all %}
        <th style="width: {{ header.width }}px">{{ header.name }}</th>
      {% endfor %}
    </tr>
  </thead>
  <tbody>
    {% for object in objects_dict %}
      <tr>
        {% for field in object %}
          <td>{{ field }}</td>
        {% endfor %}
      </tr>
    {% endfor %}
  </tbody>
</table>
