{% load url from future %}
{% load i18n %}
{% load lfs_portlets_tags %}

{% if slots %}
<br/>
{% for slot in slots.items %}
    <div class="toolbar-content">
        <div class="pull-right">
                <label>
                    <input type="checkbox"
                           name="block_slot"
                           class="block_slot"
                           value="{{ slot.id }}"
                           {% if slot.is_blocked %}checked="checked"{% endif %} />
                    {% trans 'Block parent slot' %}
                </label>
                </div>
    <h4>{% trans 'Slot' %}: {% trans slot.name %}</h4>
    </div>
    {% if slot.portlets %}
    <table class="table table-striped table-bordered table-hover table-condensed">
        <thead>
        <tr>
            <th>{% trans 'Title' %}</th>
            <th>{% trans 'Type' %}</th>
            <th>{% trans 'Actions' %}</th>
        </tr>
        </thead>
        <tbody id="portlets-table-body">
        
            {% for portlet in slot.portlets %}
                <tr>
                    <td>{{ portlet.title }}</td>
                    <td>{% trans portlet.type %}</td>

                    <td width="220">
                        <div class="btn-toolbar">
                        <div class="btn-group">
                        <a href="{% url 'admin_move_portlet' portlet.pa_id %}?direction=0" class="simple-ajax-link btn{% if forloop.first %} disabled{% endif %}" title='{% trans "Move Up" %}' data-loaderselector="#portlets-list-wrapper"><i class="icon-arrow-up"></i></a>
                        <a href="{% url 'admin_move_portlet' portlet.pa_id %}?direction=1" class="simple-ajax-link btn{% if forloop.last %} disabled{% endif %}" title='{% trans "Move Down" %}' data-loaderselector="#portlets-list-wrapper"><i class="icon-arrow-down"></i></a>
                        <a href="{% url 'admin_change_portlet' portlet.pa_id %}" class="btn" title='{% trans "Edit" %}' onclick='return showAddAnotherPopup(this);' data-loaderselector="#portlets-list-wrapper"><i class="icon-edit"></i></a>
                        </div>
                        <div class="btn-group">
                        <a href="{% url 'admin_delete_portlet' portlet.pa_id %}" class="ajax-confirm-link btn btn-danger" title='{% trans "Delete" %}'
                        data-question="{% trans 'This operation cannot be undone. Do you really want to delete this portlet?' %}"
                        data-loaderselector="#portlets-list-wrapper"><i class="icon-trash icon-white"></i></a>
                        </div>
                        </div>
                    </td>

                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <div class="alert alert-info">{% trans 'There are no portlets assigned.' %}</div>
    {% endif %}

  {% endfor %}
    <script>
        $(document).ready(function(){
            $('.block_slot').click(function(){
                $.ajax({
                    type:"POST",
                    url:"{% url 'admin_blocked_slot' content_type_id object_id %}",
                    data: { checked: $(this).attr('checked'), slot_id:$(this).attr("value")},
                    success: function () {
                        on_portlets_popup_close();
                    }
                });
            });
        });
    </script>
{% else %}
<br/>
<div class="alert alert-info">
  {% trans "Portlet slots are not declared." %}
</div>

{% endif %}
