<form id="region-form" method="GET" action="{% url set_region %}" class="form-inline">
<select id="region-selection" name="region">
    {% for region in regions %}
        <option value="{{ region.id }}" {% if region.id == active_region %}selected{% endif %}>{{ region.name }}</option>        
    {% endfor %}   
</select>
<input type="hidden" name="next" value="{{ request.path }}"/>
</form>
<script type="text/javascript">
    $('#region-selection').change(function() {
        $('#region-form').submit();
    });
</script>