{% extends "admin/base_site.html" %}
{% load i18n admin_static admin_list admin_urls suit_list %}
{% load url from future %}
{% block title %}{% trans "Autoconfigurer" %}{% endblock %}

{% block extrahead %}
  {{ block.super }}
  <script type="text/javascript" src="/static/admin/js/closable_popup.js"></script>
{% endblock %}

{% block content %}
<form id="autoconfigurer-form" method="POST" class="form-inline"
action="{% url 'admin_autoconfigurer_action' filter.pk %}">
{% csrf_token %}
<span id="message-pane"></span>
<table class="table table-striped table-bordered table-hover table-condensed">
    <thead>
    <tr>
        <th><input id="select-all" type="checkbox" name="value" value="select-all-values"/></th>
        <th>{% trans "Property value" %}</th> 
        <th>{% trans "Properties" %}</th>
        <th>{% trans "Quantity" %}</th>
    </tr>
    </thead>
    <tbody>
    {% for data in variants %}
    <tr>
        <td><input class="checking-values" type="checkbox" name="value" value="{{ data.value }}"/></td>
        <td>{{ data.value }}</td>
        <td>{{ data.properties|join:", " }}</td>
        <td>{{ data.count }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
<select name="action">
  <option>-----</option>
  {% for key, value in filter_actions %}
  <option value="{{ key }}">{{ value }}</option>
  {% endfor %}
</select>

<button id="start-filter-action-button" class="ajax-filter-save-button btn" type="submit">{% trans "Go" %}</button>
</form>
<script type="text/javascript">
  $("#select-all").change(function() {
    $('input.checking-values[type=checkbox]').attr('checked', $(this).is(':checked'))
  });
</script>
{% endblock %}



