{% load url from future %}
{% load i18n sshop_tags %}
<div class="btn-group">
  <a class="ajax-confirm-link btn btn-danger"
      href="{% url 'admin_clear_filter' filter.pk %}"
      data-question="{% trans 'This operation cannot be undone. Do you really want to delete all options for this filter?' %}"
      data-loaderselector="#filter-options-wrapper-{{ filter.pk }}">
      <i class="icon-trash icon-white"></i> {% trans "Clear filter" %}</a>
  <a class="ajax-confirm-link btn btn-danger"
      href="{% url 'clear_filteroptins_without_products' filter.pk %}"
      data-question="{% trans 'This operation cannot be undone. Do you really want to delete all options for this filter without products?' %}"
      data-loaderselector="#filter-options-wrapper-{{ filter.pk }}"
      title="{% trans 'Clear filter option' %}">
      <i class="icon-wrench icon-white"></i></a>
</div>
</div>