{% if pages %}
<div>
{% for page in pages %}
    {% if page.active %}
        <a href=/page/{{ page.slug }}><h3>{{ page.title }}</h3></a>
        {{ page.short_text|safe }}
    {% endif %}
{% endfor %}
</div>
<script type="text/javascript">
{% if slot_name == "Left" %}config.left_portlet_count++;{% endif %}
{% if slot_name == "Right" %}config.right_portlet_count++;{% endif %}
</script>
{% endif %}