{% load i18n %}
{% load lfs_tags %}
{% load sshop_tags %}


{% if categories %}

    <div class="featured-products-portlet portlet">
        <div class="portlet-body">
            {# -----------------------PRODUCTS SLIDESHOW------------------------------------ #}
             <div id="categories_carousel" class="products-wrapper slideshow">
                <ul id="categories-carousel" class="jcarousel-skin-tango">
                {% for category in categories %}
                <li>
                    <div id="tab-{{ forloop.counter }}" class="portlet-item">
                        <div class="product-data">
                            <div class="image-wrapper">
                                <a href="{{ category.get_absolute_url }}">
                                   <img src="{{ category.get_image.url_medium }}">
                                </a>
                            </div>

                            <div class="product-title">
                                <a href="{{ category.get_absolute_url }}" class="product-title">{{ category.name }}</a>
                            </div>

                        </div>
                    </div>
                </li>
                {% endfor %}{# slideshow categories #}
                 </ul>
                {# tabs #}

                <ul style="display:none">
                {% for category in categories %}
                    <li><a href="#tab-{{ forloop.counter }}">{{ forloop.counter }}</a></li>
                {% endfor %}
                </ul>
            <div class="scroll-bar-wrap ui-widget-content ui-corner-bottom">
              <div class="scroll-bar ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all"><div class="ui-handle-helper-parent"><a class="ui-slider-handle ui-state-default ui-corner-all ui-state-hover" id="slider" href="#" style="left: 0%;"><span class="ui-icon ui-icon-grip-dotted-vertical"></span></a></div></div>
            </div>
            </div>
            {# -----------------------END PRODUCTS SLIDESHOW-------------------------------- #}
            <script type="text/javascript">
                $(function() {
                    $('#categories-carousel').jcarousel({
                        scroll: 1,
                        itemLoadCallback: itemLoadCallbackFunction,
                    });
                });
                function itemLoadCallbackFunction(carousel, state)
                {
                    var slider = $( ".scroll-bar")
                    if (state === "init")
                    {
                        slider.slider({
                            min:1,
                            max:parseInt({{ categories.count }}) - 3,
                          change: function(event, ui){
                            if (event.originalEvent){
                                carousel.scroll(ui.value)
                            }
                          }
                        });
                    }
                    if (state == "next")
                    {
                        if (carousel.first != slider.slider("value")){
                            slider.slider("value", slider.slider("value") + 1)
                        }
                    }
                    if (state == "prev")
                    {
                        if (carousel.first != slider.slider("value")){
                            slider.slider("value", slider.slider("value") - 1)
                        }
                    }
                };
           </script>
        </div>{# portlet-body #}
    </div>
{% endif %}