{% for portlet in portlets %}
<div class="accordion" id="accordion2">
<div class="accordion-group">
  <div class="accordion-heading">
    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion2" href="#collapse-{{ forloop.counter }}-{{ portlet.id }}-{{ container_id }}">
      {{ portlet.title }}
    </a>
  </div>
  <div id="collapse-{{ forloop.counter }}-{{ portlet.id }}-{{ container_id }}" class="accordion-body collapse" style="height: 0px;">
    <div class="accordion-inner">
      {{ portlet.html }}
    </div>
  </div>
</div>
</div>
{% endfor %}
<script type="text/javascript">
$('div.portlet-header').hide();
{% if slot_name == "Left" %}config.left_portlet_count++;{% endif %}
{% if slot_name == "Right" %}config.right_portlet_count++;{% endif %}
</script>