{% load i18n %}

    <div class="portlet-header"> 
        <h4>{% trans "FAQ" %}</h4>
    </div> 
    {% for question in questions %}
        <h5>{{ question.created_by }},{{ question.creation_date }}</h5>
        {{ question.question }}
        <h5>{{ question.answered_by }},{{ question.answer_date }}</h5>
        {{ question.answer }}
    {% endfor %}
    <script type="text/javascript">
        {% if slot_name == "Left" %}config.left_portlet_count++;{% endif %}
        {% if slot_name == "Right" %}config.right_portlet_count++;{% endif %}
    </script>
