{% load i18n %}
{% if filter_parametrs or remove_price %}
<div id="filter-parametrs-portlet" class='portlet'>
	<div class='portlet-header'>
		<h4>{{ title }}</h4>
	</div>
	
	<div class='portlet-body'>
		<p>{{ products_count }} {% trans 'products with filters:' %}</p>
		<ul class="unstyled">
		{% for fp in filter_parametrs %}
			<li>
				<a href="{{ fp.remove_url }}"><i class='icon-remove filter-parametr'></i></a>
				{{ fp.title }}
				{% if fp.bound.0 >= 0 %}{% trans 'from' %} {{ fp.bound.0|floatformat:"0" }}{% endif %}
				{% if fp.bound.1 >= 0 %}{% trans 'to' %} {{ fp.bound.1|floatformat:"0" }}{% endif %}
			</li>
		{% endfor %}
		</ul>
	</div>
</div>
<a href="{{ reset_all_filters }}">{% trans 'Reset all filters' %}</a>
<script type="text/javascript">
	$('.filter-parametr').click(function(){
		$("#filter-parametrs-portlet").loadOverStart();
	});
</script>
{% endif %}