{% extends "lfs/customer/base.html" %}
{% load i18n %}
{% load lfs_tags %}
{% load sshop_tags %}
{% load bootstrap_toolkit %}
{% load url from future %}

{% block section %}my-account{% endblock %}

{% block breadcrumbs %}
    {% breadcrumbs _("Edit your settings") %}
{% endblock %}

{% block content %}
<div class="row-fluid"><div class="span12">
<div class="page-header">
<h1>{% trans "Edit your settings" %}</h1>
</div>

{{ form.media }}
<form action="{% url 'lfs_edit_my_account' %}"
    data-update-url="{% url 'update_account_form' %}"
    method="post" class="form-horizontal custom-form">
{% include "lfs/customer/form_edit.html" %}
</form>
</div></div>
{% endblock %}