{% load i18n %}
{% load lfs_tags %}
{% load bootstrap_toolkit %}

<div class="header">
    <h3>{% trans 'Add' %}</h3>
</div>
{% if form %}
    <form action="{{ url_text }}"
          data="{{ url_text }}"
          method="post" class="form-horizontal modal-form">
        {% csrf_token %}
        {% include 'lfs/shop/lfs_form.html' %}
        <div class="form-actions">
          <input class="btn btn-primary" type="submit" value="{% trans 'Save' %}" />
        </div>
    </form>
<script type="text/javascript">
    {% if date %}
        $('#id_date').datepicker({dateFormat: 'yy-mm-dd'});
    {% endif %}
</script>
{% else %}
    <h3>{% trans 'Data saved' %}</h3>
    <script type="text/javascript">
        window.location = '{% url lfs_my_account %}';
    </script>
{% endif %}


