{% extends "admin/change_form.html" %}
{% load i18n %}

{% block submit_buttons_bottom %}
<div class="submit-row clearfix">
    <button class="btn btn-info btn-high" type="submit" name="_easy">
    {% trans 'Save and continue to report builder' %}
    </button>
</div>
{% endblock %}
