#v-menu {
    visibility: hidden;
    position: absolute;
    background-color: #ccc;
    padding: 10px 10px 10px 10px;
    border-radius: 5px;
}

#main-nav {
    float: left;
    width: 200px;
    padding-right: 10px; 
}

#sub-nav {
    float: right;
    visibility: hidden;
    position: relative;
    width: 200px;
    padding-left: 10px;
    display: none;
}

#v-menu ul li {
    height: 40px;
    list-style: none;
}

.sub-category {
    display: none;
}

.sub-category ul {
    padding-top: 10px;
}
