{% load bootstrap_toolkit %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<link href="/static/bootstrap/css/bootstrap.css" rel="stylesheet">
<link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link href="/static/bootstrap/css/bootstrap-responsive.css" rel="stylesheet">
<link href="/static/bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet">
<script src="/static/bootstrap/js/bootstrap.js"></script>
<script src="/static/bootstrap/js/bootstrap.min.js"></script>
<script src="/static/js/jquery-1.8.1.js"></script>
<script src="/static/js/jquery-1.8.1.min.js"></script>
<style type="text/css">
        body {
            padding-top: 90px;
            padding-bottom: 60px;
        }
        .sidebar-nav {
            padding: 9px 0;
        }
</style>

<!--[if lte IE 7]>
<style type="text/css">
html .jquerycssmenu{height: 1%;} /*Holly Hack for IE7 and below*/
</style>
<![endif]-->

</head>
<body>
    
    <div class="container">
        <div class="row">
            <div class="span2">
                <div class="well sidebar-nav">
                          
                          <ul class="nav nav-list">
                              <br>
                              <li><a href="{% url import-product %}">Import products</a></li>
                              <li><a href="{% url import-price %}">Import prices</a></li>
                          </ul>
                </div>
            </div>
            <div class="span10">
             <div class="well">

                    {% block content %}
                    {% endblock %}

             </div>

            </div>
        </div>
    </div>
{% block login %}
{% endblock %}

<body>


                
</body>
</html>